header{
    background-color: #4C4C4C;
    
}

.list-container{
    display: flex;
    padding: 2% 0;
    margin: auto;
    width: 70%;
}

.header-container{
    margin: auto;
    z-index: 500;
    position: relative;
}

.logo-place h2{
    display: block;
    margin: 0;
    font-size: 40px;
}

.logo-place{
    margin-right: 10%;
}

.bar{
    width: 50%;
    margin-right: 10%;
}
.bar ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}
.bar ul li{
    padding: 3%;
    width: fit-content;
    font-size: 24px;
}

.right-header-part a{
    
    padding: 0;
    margin: 0;
}
.right-header-part{
    font-size: 24px;
    
}

header a {
    font-style: normal;
    color: white;
    text-decoration-style:none;
}

