header{
    background-color: black;
    
}

.list-container{
    display: flex;
    padding: 1% 0;
    margin: auto;
    width: 70%;
    position: relative;
}

.header-container{
    margin: auto;
    z-index: 500;
    position: relative;
}

.logo-place h2{
    display: block;
    margin: 0;
    font-size: 40px;
}

.logo-place{
    margin-right: 4%;
}

.bar{
    width: 90%;
    
}

.bar ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: fit-content;
}
.bar ul li{
    padding: 3%;
    width: fit-content;
    font-size: 20px;
}

.right-header-part a{
    
    padding: 0;
    margin: 0;
}
.right-header-part{
    font-size: 20px;
    margin: 0;
    margin-left: 30%;
    
    
}

header a {
    font-style: normal;
    color: white;
    text-decoration:none;
    text-align: center;
}

header span{
    color: white;
    padding-left: 5px;
    display: inline-block;
    transition: 0.1s ease-in;
}

.healtConditions:hover span{
    transform: rotate(90°);
}

